body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../sources/images/fondomodulos.png);
    background-size: cover;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}

.quiz-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-question {
    margin-bottom: 15px;
    text-align: left;
}

.quiz-question p {
    font-weight: bold;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

.quiz-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

