body {
    overflow-x: hidden;
 /*    background-size: 100%; */
    background-color: #3c1d5b;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.seccion1{
    position: static;
}
.seccion2{
    position: static;

}

.enlace{
text-decoration: none;
}

#header {
    padding: 10px 20px;
    z-index: 1;
    position: relative;
}
.logo {
    height: 40px; 
}

.respmenu a {  
font-family: "LEMONMILK";

}
#usuario {
background: none;
color: white;
border: none;
font-size: 25px;
}

#iniciar{
color: #fff;
}

section{
    position:static;
    width: 100%;
    height: 100vh;
    padding: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position:absolute;
    bottom: 0 ;
    width: 100%;
    height: 90px;
    z-index: 10;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 1000;
}

section img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#stars
{
    text-align: center;
}
section img#moon
{
    mix-blend-mode: screen;
}
section img#mountains_front
{
    z-index: 11;
}

#seccion2
{
    position: relative;
    margin-top: -200px;
    padding: 100px;
    background-color: #1c0522;
}



.Dash{
display: none;
}


@font-face {
    font-family: "LEMONMILK";
    src: url("../sources/fonts//LEMONMILK-Medium.otf");
    src: url("../sources/fonts/LEMONMIL-Regular.otf")
}


nav {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 25px;
    padding: 0;
}

nav ul:first-child {
    justify-content: flex-start;
}

nav ul:last-child {
    justify-content: flex-end;
}

nav ul i {
    font-size: 24px;
    color: #fffefe;
}

.cerrar{ 
    font-family: 'LEMONMILK';
    background-color: #FF0A6C;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}

#titulito{
    font-family: "LEMONMILK";
    font-weight: lighter;
    color: #bca6d1;
    margin-top: 150px;

}

#titulo34{
    color: #bca6d1;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 100px;
   

}

@media(max-width:576px){
    body {
        overflow-x: hidden;
        background-color: #3c1d5b;
 
        background-repeat: no-repeat;
    }
    #titulitoT{
    font-size: 20px;
    }
   
    #titulo34T{
    font-size: 20px;
    }
}

@media(max-width:992px) and (min-width:577px){
    body {
    overflow-x: hidden;
    background-color: #3c1d5b;
    background-repeat: no-repeat;
     }
    #titulitoT{
    font-size: 25px;
    }
    #titulo34T{
    font-size: 25px;
    }
}

@media(min-width:993px){
    body {
        background-color: #3c1d5b;
    background-repeat: no-repeat;
    overflow-x: hidden;
    }
    #titulitoT{
    font-size: 30px;
    }
    #titulo34T{
    font-size: 30px;
    }        
}

.strong{
 color: #fff;
 cursor: pointer;
}


.mission0 h1{
    margin-top: 150px;
    font-size: 40px;
    font-family: "LEMONMILK";
    color: #fff;   
}
.mission0 h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
}

.mission1 h1{
    margin-top: 150px;
    font-family: "LEMONMILK";
    font-size: 40px;
    color: #fff;
}
.mission1 h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
}

.mission2 h1{
    margin-top: 150px;
    font-family: "LEMONMILK";
    font-size: 40px;
    color: #fff;
}
.mission2 h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
}


.mission0 {
    background-image: url(../sources/images/fondocards.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;

}
.mission1 {
    background-image: url(../sources/images/fondocards.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;

}
.mission2 {
    background-image: url(../sources/images/fondocards.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;

}


.down{
    background-color: #4c045b;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;

}

.comenzar {
    font-family: 'LEMONMILK';
    background-color: #FF0A6C;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
}


.mission0 h6{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.mission1 h6{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.mission2 h6{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}


.mission0 a{
color: #fff;
text-decoration: none;
}
.mission1 a{
    color: #fff;
    text-decoration: none;
}

.mission2 a{
    color: #fff;
    text-decoration: none;
}

.img-card0 {
    top: -70px;
    position: absolute;
    width: 200px;
    height: 200px;
}
.img-card1 {
    top: -70px;
    position: absolute;
    width: 200px;
    height: 200px;
}
.img-card2{
    top: -70px;
    position: absolute;
    width: 200px;
    height: 200px;
    
}


.mission0:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.mission1:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.mission2:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}


.imagenes {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 15px;
}

.logof {
    height: 50px; 
}


.suggestions {
    color: #fff; 
    text-decoration: none;
    font-size: 16px;
}

.suggestions:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.menu li a:hover {
    background-color: #555;
}



footer {
    background-color: #2B2159; 
    padding: 15px;
    text-align: center;
}
.imagenes {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 15px;
}

.footer-content {
    
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff; 
}

.logof {
    height: 50px; 
    cursor: pointer;
}

.social-icons a {
    margin: 0 10px;
    color: #fff; 
    font-size: 20px;
    text-decoration: none;
}


.suggestions {
    color: #fff; 
    text-decoration: none;
    font-size: 16px;
}

.suggestions:hover {
    text-decoration: underline;
}



.respmenu a {
    color: inherit;
    text-decoration: none;
    display: flex;
    width: 150px;
    flex-direction: column;
    padding: 10px 20px; 
    max-width: 200px;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
    align-items: flex-end;
  }

  .respmenu li {
    margin-top: 5px;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
    padding: 0;
    right: -10px;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 30px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    min-height: 30px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: flex;
    position: absolute;
    right: 145px;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }


/* pop up */
#btncerrars{
    background-color:#bca6d1 ;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}
#saludo{
    font-family: 'LEMONMILK';
    color: #fffefe;
}
.btninicio-popup{
    background: none;
    border: none;
}
.wrapper{
    margin: 150px auto 0;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition:transform .5s ease , height .2s ease;
    
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px; 
}
.wrapper .form-box.inicio{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.inicio{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.registro {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.registro{
    transition: transform .18s ease;
    transform: translateX(0);
 }
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #482568;
    font-size:1.5em ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h1{
    font-size: 2em;
    color: #bca6d1;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom:2px solid #ffffff;
    margin: 20px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -2px; 
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;  
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#bca6d1;
    line-height: 57px;
}
.recordarme{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.recordarme label input{
    accent-color: #fff;
    margin-right: 3px;
}
.recordarme a{
    color: white ;
    text-decoration:none;
}
.strong{
    color: white;
}
.recordarme a:hover{
    text-decoration: underline;
}
#btni{
    width: 100%;
    height: 45px;
    background: #482568;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
#btni:hover {
    background: #3c1d5b;
}
#btnr{
    width: 100%;
    height: 45px;
    background: #482568;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
#btnr:hover {
    background: #3c1d5b;
}
.ingresar-registrarse{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.ingresar-registrarse a{
    color:#bca6d1 ;
    text-decoration: none;
    font-weight: 600;
}
.ingresar-registrarse p {
    color: white;
    text-decoration: none;
}
.ingresar-registrarse p a:hover{
    text-decoration: underline;
}


/* pop up */











body {
    overflow-x: hidden;
 /*    background-size: 100%; */
    background-color: #3c1d5b;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.seccion1{
    position: static;
}
.seccion2{
    position: static;

}

.enlace{
text-decoration: none;
}

#header {
    padding: 10px 20px;
    z-index: 1;
    position: relative;
}
.logo {
    height: 40px; 
}

.respmenu a {  
font-family: "LEMONMILK";

}
#usuario {
background: none;
color: white;
border: none;
font-size: 25px;
}

#iniciar{
color: #fff;
}




.Dash{
display: none;
}

#container{
text-align: right;
font-weight: lighter;
}

@font-face {
    font-family: "LEMONMILK";
    src: url("../sources/fonts//LEMONMILK-Medium.otf");
    src: url("../sources/fonts/LEMONMIL-Regular.otf")
}


nav {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    margin-top: 25px;
    padding: 0;
}

nav ul:first-child {
    justify-content: flex-start;
}

nav ul:last-child {
    justify-content: flex-end;
}

nav ul i {
    font-size: 24px;
    color: #fffefe;
}

.cerrar{ 
    font-family: 'LEMONMILK';
    background-color: #FF0A6C;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}

#titulito{
    font-family: "LEMONMILK";
    font-weight: lighter;
    color: #bca6d1;
    margin-top: 150px;

}

#titulo34{
    color: #bca6d1;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 100px;
   

}

@media(max-width:576px){
    body {
        overflow-x: hidden;
        background-color: #3c1d5b;
 
        background-repeat: no-repeat;
    }
    #titulitoT{
    font-size: 20px;
    }
    
    #titulo34T{
    font-size: 20px;
    }
}

@media(max-width:992px) and (min-width:577px){
    body {
    overflow-x: hidden;
    background-color: #3c1d5b;
    background-repeat: no-repeat;
     }
    #titulitoT{
    font-size: 25px;
    }
    #titulo34T{
    font-size: 25px;
    }
}

@media(min-width:993px){
    body {
        background-color: #3c1d5b;
    background-repeat: no-repeat;
    overflow-x: hidden;
    }
    #titulitoT{
    font-size: 30px;
    }
    #titulo34T{
    font-size: 30px;
    }        
}

.strong{
 color: #fff;
 cursor: pointer;
}

#misiones {
    
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    gap: 50px;
    margin-bottom: 30px;
    margin-top: 150px;
    flex-direction: row;
   
}


.mission0 h1{
    margin-top: 150px;
    font-size: 40px;
    font-family: "LEMONMILK";
    color: #fff;   
}
.mission0 h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
}

.mission1 h1{
    margin-top: 150px;
    font-family: "LEMONMILK";
    font-size: 40px;
    color: #fff;
}
.mission1 h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
}

.mission2 h1{
    margin-top: 150px;
    font-family: "LEMONMILK";
    font-size: 40px;
    color: #fff;
}
.mission2 h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #fff;
}


.mission0 {
    background-image: url(../sources/images/fondocards.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;

}
.mission1 {
    background-image: url(../sources/images/fondocards.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;

}
.mission2 {
    background-image: url(../sources/images/fondocards.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 50px;

}


.down{
    background-color: #4c045b;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;

}

.comenzar {
    font-family: 'LEMONMILK';
    background-color: #FF0A6C;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-decoration: none;
}


.mission0 h6{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.mission1 h6{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.mission2 h6{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}


.mission0 a{
color: #fff;
text-decoration: none;
}
.mission1 a{
    color: #fff;
    text-decoration: none;
}

.mission2 a{
    color: #fff;
    text-decoration: none;
}

.img-card0 {
    top: -70px;
    position: absolute;
    width: 200px;
    height: 200px;
}
.img-card1 {
    top: -70px;
    position: absolute;
    width: 200px;
    height: 200px;
}
.img-card2{
    top: -70px;
    position: absolute;
    width: 200px;
    height: 200px;
    
}


.mission0:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.mission1:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.mission2:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}


.imagenes {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 15px;
}

.logof {
    height: 50px; 
}


.suggestions {
    color: #fff; 
    text-decoration: none;
    font-size: 16px;
}

.suggestions:hover {
    text-decoration: underline;
}

.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.menu li a:hover {
    background-color: #555;
}



footer {
    background-color: #2B2159; 
    padding: 15px;
    text-align: center;
}
.imagenes {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 15px;
}

.footer-content {
    
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff; 
}

.logof {
    height: 50px; 
    cursor: pointer;
}

.social-icons a {
    margin: 0 10px;
    color: #fff; 
    font-size: 20px;
    text-decoration: none;
}


.suggestions {
    color: #fff; 
    text-decoration: none;
    font-size: 16px;
}

.suggestions:hover {
    text-decoration: underline;
}



.respmenu a {
    color: inherit;
    text-decoration: none;
    display: flex;
    width: 150px;
    flex-direction: column;
    padding: 10px 20px; 
    max-width: 200px;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
    align-items: flex-end;
  }

  .respmenu li {
    margin-top: 5px;
  }

  .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    margin: 0;
    padding: 0;
    right: -10px;
    top: 0;
    width: 48px;
    height: 48px;
  }
  
  .respmenu .fa-bars, .respmenu .fa-times {
    font-size: 30px;
    pointer-events: none;
  }
  
  .respmenu input[type="checkbox"] {
    opacity: 0;
  }
  
  .respmenu {
    color: white;
    position: relative;
    min-height: 30px;
  }
  
  .respmenu nav {
    display: none;
  }
  
  .respmenu input:checked ~ nav {
    display: flex;
    position: absolute;
    right: 145px;
  }
  
  .respmenu input:checked ~ .fa-bars {
    display: none;
  }
  
  .respmenu input:not(:checked) ~ .fa-times {
    display: none;
  }


/* pop up */
#btncerrars{
    background-color:#bca6d1 ;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}
#saludo{
    font-family: 'LEMONMILK';
    color: #fffefe;
}
.btninicio-popup{
    background: none;
    border: none;
}
.wrapper{
    margin: 10px auto 0;
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    width: 400px;
    height: 440px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition:transform .5s ease , height .2s ease;
    
}
.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 480px;
}
.wrapper .form-box {
    width: 100%;
    padding: 40px; 
}
.wrapper .form-box.inicio{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-box.inicio{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.registro {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper.active .form-box.registro{
    transition: transform .18s ease;
    transform: translateX(0);
 }
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #482568;
    font-size:1.5em ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h1{
    font-size: 2em;
    color: #bca6d1;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom:2px solid #ffffff;
    margin: 20px 0;
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -2px; 
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: white;
    font-weight: 600;
    padding: 0 35px 0 5px;  
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#bca6d1;
    line-height: 57px;
}
.recordarme{
    font-size: .9em;
    color: white;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}
.recordarme label input{
    accent-color: #fff;
    margin-right: 3px;
}
.recordarme a{
    color: white ;
    text-decoration:none;
}
.strong{
    color: white;
}
.recordarme a:hover{
    text-decoration: underline;
}
#btni{
    width: 100%;
    height: 45px;
    background: #482568;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
#btni:hover {
    background: #3c1d5b;
}
#btnin{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background: #FF0A6C;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
#btnin{
background: #fd438d;
}
btni:hover {
    background: #3c1d5b;
}
#btnr{
    width: 100%;
    height: 45px;
    background: #482568;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
#btnr:hover {
    background: #3c1d5b;
}
.ingresar-registrarse{
    font-size: .9em;
    color: white;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.ingresar-registrarse a{
    color:#bca6d1 ;
    text-decoration: none;
    font-weight: 600;
}
.ingresar-registrarse p {
    color: white;
    text-decoration: none;
}
.ingresar-registrarse p a:hover{
    text-decoration: underline;
}


/* pop up */
